body { background: #b9eda9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 29px; display: flex; }
.block-config-0 { color: #2acf87; font-size: 13px; margin-bottom: 5px; }
.block-session-1 { color: #30f03c; font-size: 13px; margin-bottom: 5px; }
.block-helper-2 { color: #881aef; font-size: 14px; margin-bottom: 5px; }
.block-uploader-3 { color: #17726d; font-size: 19px; margin-bottom: 5px; }
.block-router-4 { color: #938c83; font-size: 16px; margin-bottom: 5px; }
.block-order-5 { color: #c25602; font-size: 13px; margin-bottom: 5px; }
.block-token-6 { color: #b039fa; font-size: 15px; margin-bottom: 5px; }
.block-config-7 { color: #d257b; font-size: 18px; margin-bottom: 5px; }
.block-router-8 { color: #d8fea1; font-size: 12px; margin-bottom: 5px; }
.block-shipping-9 { color: #d16d22; font-size: 15px; margin-bottom: 5px; }
.block-database-10 { color: #ad31ba; font-size: 21px; margin-bottom: 5px; }
.block-sms-11 { color: #9975e2; font-size: 21px; margin-bottom: 5px; }